.page {
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ecf0f3;
    box-sizing: border-box;
}

/* .siteHeader {
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.25em;
    margin-bottom: 1em;
    color: rgb(71 85 105);
} */

/* .subheading {
    font-size: 1.25rem;
    line-height: 1.5em;
    margin-top: 1em;
    max-width: 35ch;
} */

/* .shuffle {
    height: 1.25em;
    display: block;
    color: rgb(147 51 234);
    text-shadow: 0px 2px 1rem rgba(197, 84, 231, 0.66);
} */
