/* Primary buttons */

.button {
    border: 2px outset transparent;
    text-shadow: rgba(0, 0, 0, 1) 0 0 1rem;
    box-shadow: .5rem .5rem .75rem #cbced1, -.5rem -.5rem .75rem white;
    background: linear-gradient(-30deg, #7429c6, #c554e7);
    transition: opacity 0.25s linear, border .25s linear, transform .1s ease, box-shadow .1s ease;
    opacity: 0.85;
}

.button:focus,
.button:hover {
    outline: none;
    opacity: 1;
    border: 2px outset rgba(197, 84, 231, 0.66);
    box-shadow: 0px 2px 1rem rgba(197, 84, 231, 0.66), -.5rem -.5rem .75rem white;
}

.button:active {
    transform: scale(0.98);
    box-shadow: 0px 2px .25rem rgba(197, 84, 231, 0.66), -.5rem -.5rem .75rem white;
}

/* Navigation buttons */
/* TODO: improve these—tab bar? */

.button-home {
    position: fixed;
    left: 1.25em;
    top: 0em;
}

.button-edit {
    position: fixed;
    right: 1.25em;
    top: 0em;
}

.button-home::before {
    content: '‹';
    font-size: 1.62em;
    position: relative;
    top: 1px;
    margin-right: .25em;
}

.button-edit::before {
    content: '✎';
    font-size: 1.1em;
    position: relative;
    top: 1px;
    margin-right: .25em;
}

.button-txt,
.button-home,
.button-edit {
    background: none;
    border: none;
    text-align: center;
    cursor: pointer;
    line-height: 0.75rem;
    align-self: center;
    color: rgb(71 85 105);
    text-transform: uppercase;
    font-weight: 500;
    font-size: .8rem;
    letter-spacing: .25ch;
    margin-top: 1em;
    padding: .5em 0;
    transition: border .25s linear;
    border-bottom: 2px solid transparent;
}

.button-txt:focus, 
.button-txt:hover,
.button-home:focus,
.button-home:hover,
.button-edit:focus,
.button-edit:hover {
    outline: none;
    border-bottom: 2px solid rgba(71,85,105,.5);
}