.pageForm {
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ecf0f3;
    box-sizing: border-box;
}

.siteHeader {
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.25em;
    margin-bottom: 1em;
    color: rgb(107 114 128);
}

.shuffle {
    height: 1.25em;
    display: block;
    color: rgb(147 51 234);
    text-shadow: 0px 2px 1rem rgba(197,84,231,.66);
}

.siteCode {
    position: relative;
    margin: 0 auto 1.5rem;
    height: 128px;
    width: 128px;
    border-radius: 1rem;
    filter: brightness(.95) opacity(.8);
    background: url('https://chart.googleapis.com/chart?cht=qr&chs=128x128&chld=|1&chl=hmu.world'), rgba(255,255,255,1);
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: -.25rem -.25rem .5rem rgba(255,255,255,0.45), .25rem .25rem .5rem rgba(94,104,121,0.3);
}

.siteCode::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 4px outset #7429c6;
    position: absolute;
    top: 22px;
    left: 22px;
    box-shadow: -2px -2px 2px rgba(255,255,255,0.45), 0 0px 2px 1px rgba(197,84,231,.66);
}

.siteCode::after {
    content: '';
    width: .75rem;
    height: .75rem;
    background: linear-gradient(-30deg, #7429c6, #c554e7);
    position: absolute;
    top: 30px;
    left: 30px;
    box-shadow: -2px -2px 2px rgba(255,255,255,0.45), 0 0px 2px 1px rgba(197,84,231,.66);
}